#main{
    overflow: hidden;
}

#transaction{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: white;
    overflow: hidden;
    margin-top: 2.5%;
}

#transactions{
    margin: auto;
    height: 100%;
    width: 100%;
    background-color: white;overflow: hidden;
}